* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin hasBackgroundColor {
  $bg-color: background-color; // Get the background color property

  @if $bg-color != null {
    // Check if the background color is not transparent
    @if $bg-color != transparent {
      background-color: $bg-color;
    } @else {
      // Handle transparent background case
      background-color: "black";
    }
  } @else {
    // Handle no background color case
    // background-color: $bg-color;
  }
}

.MuiButton-root {
  @include hasBackgroundColor;
}
