html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media screen and (min-width: 340px) {
  html {
    overflow-x: hidden;
  }
}

/* Privacy Policy */
[data-custom-class="body"],
[data-custom-class="body"] * {
  background: transparent !important;
}
[data-custom-class="title"],
[data-custom-class="title"] * {
  font-size: 26px !important;
}
[data-custom-class="subtitle"],
[data-custom-class="subtitle"] * {
  font-size: 14px !important;
}
[data-custom-class="heading_1"],
[data-custom-class="heading_1"] * {
  font-size: 19px !important;
}
[data-custom-class="heading_2"],
[data-custom-class="heading_2"] * {
  font-size: 17px !important;
}
[data-custom-class="body_text"],
[data-custom-class="body_text"] * {
  font-size: 14px !important;
}
[data-custom-class="link"],
[data-custom-class="link"] * {
  font-size: 14px !important;
  word-break: break-word !important;
}
.myPolicy ul,
.myPolicy ol {
  margin-left: 40px;
}
.myPolicy a:hover {
  text-decoration: underline;
}

.App {
  padding-right: 0 !important;
}

@media screen and (min-width: 500px) {
  [data-custom-class="body"],
  [data-custom-class="body"] * {
    background: transparent !important;
  }
  [data-custom-class="title"],
  [data-custom-class="title"] * {
    font-size: 30px !important;
  }
  [data-custom-class="subtitle"],
  [data-custom-class="subtitle"] * {
    font-size: 18px !important;
  }
  [data-custom-class="heading_1"],
  [data-custom-class="heading_1"] * {
    font-size: 23px !important;
  }
  [data-custom-class="heading_2"],
  [data-custom-class="heading_2"] * {
    font-size: 21px !important;
  }
  [data-custom-class="body_text"],
  [data-custom-class="body_text"] * {
    font-size: 18px !important;
  }
  [data-custom-class="link"],
  [data-custom-class="link"] * {
    font-size: 18px !important;
    word-break: break-word !important;
  }
}
